.idea/
build/

# Configuration
*.toml
*.json
config.yaml

# Coverage
coverage.*
deploy/*
!deploy/dev.sh
!deploy/config.yaml
!deploy/docker-compose.yaml
!deploy/genesis.json
!deploy/package.json
!deploy/client.js